[submodule "part1/ex1.11/spring-example-project"]
	path = part1/ex1.11/spring-example-project
	url = https://github.com/docker-hy/material-applications.git
[submodule "material-applications"]
	path = material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "part3/ex3.2/part3/ex3.2/hello"]
	path = part3/ex3.2/part3/ex3.2/hello
	url = https://github.com/maxmynter/svelte-playground.git
[submodule "part3/ex3.2/app"]
	path = part3/ex3.2/app
	url = https://github.com/maxmynter/svelte-playground
